<!DOCTYPE html>
<html lang="en">

<link rel="stylesheet" href="../public/css/style.css">
<link rel="stylesheet" href="../public/css/chat.css">

<link rel="stylesheet" href="../public/css/chatbauble.css">
<link rel="stylesheet" href="../public/css/cookies.css">

<head>
    <title>Chat Bot</title>
</head>

<body>

<div class="page-text">

</div>

<div class="navigation">
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d5/Deutsche_Bahn_AG-Logo.svg/2560px-Deutsche_Bahn_AG-Logo.svg.png"
         alt="No Logo">
    <a href="">Home</a>
    <a href="">News</a>
    <a class="active" href="">Planner</a>
    <a href="">Tickets</a>
    <a href="">Contact</a>
    <a href="">About</a>
</div>


<div class="site-text">
    <h2>DB Travel Planner</h2>
    <ul>
        <li>Plan routes or distance from a station to another</li>
        <li>Display travel options from a station</li>
        <li>Show routes of a trainline</li>
    </ul>

</div>

<div class="chat-container">
    <div class="header">
        <h1>Bahn Chat</h1>
    </div>

    <div class="chat-body" id="chat-body"></div>

    <div class="footer">
        <label for="message-input"></label>
        <input type="text" id="message-input" placeholder="Type message here" onkeydown="handleKeyDown(event)">
        <button id="send-button" onclick="sendMessage()">Send</button>
    </div>

    <div class="chatbox" id="chatbox"></div>
</div>

<footer class="cookie-footer">
    <div class="cookie-notice">
        <p>
            This website does <strong>not use cookies</strong>.
            By continuing you <strong>consent to not have any cookies.</strong>
            <button class="close-btn">Continue</button>
        </p>
    </div>
</footer>


<script src="../public/js/app.js"></script>
<script src="../public/js/cookie.js"></script>
<script>
    // initial message
    pushMessage(false, 'How may I help you today?')
</script>
</body>

</html>