<!DOCTYPE html>
<html lang="en">

<link rel="stylesheet" href="../static/css/style.css">
<link rel="stylesheet" href="../static/css/chatbauble.css">

<head>
    <title>Chat Bot</title>
</head>

<body>
<div class="container">
    <h1>Title</h1>
    <div class="chatbox" id="chatbox"></div>

    <div class="chat-body" id="chat-body"></div>

    <div class="footer">
        <label for="message-input"></label>
        <input type="text" id="message-input" placeholder="Type message here" onkeydown="handleKeyDown(event)">
        <button id="send-button" onclick="sendMessage()">Send</button>
    </div>


    <div class="chatbox" id="chatbox"></div>

</div>

<script src="../static/app.js"></script>
<script>
    // initial message
    pushMessage(false, 'How may I help you today?')
</script>

</body>

</html>